input:invalid {
border-bottom: 2px;
    border-right: 2px;
    border-color: red;
    border-radius: 2px;
}
input:focus{
background-color:gray;
}
[type="submit"] {
background-color: beige;
border-radius: 4px;
}
[type="submit"]:hover {
    background-color: darkgray;
}

 .required:after {
     content: "(erforderlich)";
     font-size: x-small;
 }
 
 input[name] {
    border-right: 2px;
    border-bottom: 2px;     
 }

 legend {
     border-bottom: 2px;
     border-right: 2px;
     border-radius: 10px;
     color: white;
     background-color: blue;
     text-transform: uppercase;
 }
 fieldset{
    border-bottom: 2px;
        border-right: 2px;
        border-radius: 10px;
 }
 nav {
     display: flex;
     flex-flow: row wrap;
     position: sticky;
     top: 0px;
 }
 
 footer{
     position:fixed;
     bottom: 0px;
 }

